    <h3>Log in to your account</h3>
    <%= form_for :session, url: login_path do |f| %>
      <%= f.text_field :username, placeholder: "Username" %>
      <%= f.password_field :password, placeholder: "Password" %>
      <%= f.submit "Login" %>
    <% end %>
