<section class="image-section" style="<%= widget.section_style %>; color: <%= widget.text_color %>">
  <%= scrivito_tag(:div, widget, :text, class: "container #{widget.text_position_class}") %>
  <div class="image-container">
    <%= scrivito_image_tag widget, :image,
      {  class: 'image-responsive section-image',
         srcset: srcset_for(widget.image),
         sizes: "(max-width: 992px) #{widget.column_size(widget)}%, 100%"},
      transform: {width: 1000} %>
  </div>
</section>
