.navbar {
  height: auto;
}

.navbar-nav {
  top: 50%;
  transform: translateY(50%);
}

.nav li .nav-button {
  color: white;
  border: 2px solid transparent;
  border-radius: 3px;
  padding: 10px 15px
}

.nav li .nav-button:hover, .nav li .nav-button:focus {
    background-color: transparent;
    border: 2px solid #eee;
}

.navbar-left {
  height: 90px;
}

.navbar {
  padding: 5px;
}

h1 {
  font-size: 4em;
}

.scrivito_section_parallax_widget .parallax-container {
  z-index: 0;
}
.scrivito_section_parallax_widget .parallax-image {
  z-index: -1;
}
