body {
  font-family: 'Raleway', sans-serif;
}

.navbar {
  height: auto;
}

.navbar-nav {
  top: 50%;
  transform: translateY(50%);
}

.nav li .nav-button {
  color: white;
  border: 2px solid transparent;
  border-radius: 3px;
  padding: 10px 15px
}

.nav li .nav-button:hover, .nav li .nav-button:focus {
    background-color: transparent;
    border: 2px solid #eee;
}

.navbar-left {
  height: 90px;
}

.navbar {
  padding: 5px;
}

h1 {
  font-size: 60px;
  line-height: 100px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
  letter-spacing: 9px;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.image-section {
  overflow: hidden;
}

.image-pattern {
  background-image: url("dark-denim-3");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 0 0;
  background-repeat: repeat;
  z-index: 2;
}

.image-section .section-image {
  -moz-transition: all 25s ease-in-out;
  -webkit-transition: all 25s ease-in-out;
  transition: all 25s ease-in-out;
  z-index: 0;
}

.zoom {
  -moz-transform: scale(1.2,1.2);
  -webkit-transform: scale(1.2,1.2);
  transform: scale(1.2,1.2);
}

.image-section .container {
  left: 2.5%;
  position: absolute;
  z-index: 4;
}
